Tests: smoke
Depends: yume, yume-daemon, libyume-dev, man-db, pkgconf, dpkg-dev
Restrictions: superficial

Tests: libyume-dev
Depends: libyume-dev, binutils, cmake, gcc, pkgconf, dpkg-dev
Restrictions: superficial
